*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table-container 
{
    padding:0 10%;
    margin:40px auto 0;

 
}
.heading 
{
    font-size: 40px;
    text-align: center;
    color:#f1f1f1;
    margin-bottom: 40px;
}
.table-container{
    width:100%;
    border-collapse: collapse;
   

}
.table thead 
{
    background-color: aqua;
}
.table thead tr th {
    font-size: 14px;
    font-weight:600;
    letter-spacing: 0.35px;
    color:#ffffff;
    opacity:1;
    padding:12px;
    vertical-align: top;
    border:1px solid #dee2e685;

}
.table tbody tr td {
font: size 14px;
letter-spacing: 0.35px;
font-weight:normal ;
color:#f1f1f1;
background-color: #3c3f44;
padding: 8px;
text-align: center;
border: 1px solid #dee2e685;
}
.table .tbody tr td .btn {
    width:130px;
    text-decoration: none;
    line-height: 35px;
    display: block;
    background-color: #FF1046;
    font-weight: meduim;
    color:#ffffff;
user-select: none;
border: 1px solid transperent;
font-size: 14px;
opacity: 1;

}
@media (max-width:768px)
{
    .table thead 
    {
       
        display: none;
    }
    .table,.table tbody ,.table tr ,.table td
    {
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr td 
    {
        text-align: right;
        padding-left:5%;
        position:relative;
    }


}
.pagination
{
    display:flex;

align-items: center;
}